.jsxc_security_labels {
	&_icon {
		background-image: image-url("shield.svg");

		&.jsxc_disabled {
			background-image: image-url("shield_disabled.svg");
		}
	}
	&_menu {
		bottom: 100%;
		right: 50px;
		position: absolute;
		opacity: 1;
	}
	&_disableInput{
		pointer-events: none;
		opacity: 0.4;
	}
}
