node_modules
*.zip
*.zip.sig
bower_components
archives/
/css/
dev/
.wti
*~
/tmp/
/lib/favico.js/
/lib/jquery/
/lib/qunit/
/lib/requirejs/
/lib/emojione/
/lib/i18next/
/lib/jquery-i18next/
/lib/magnific-popup/
.idea
.github.json
/.tscache/
/src/generated/